.coin-info-desc{
    padding-bottom:1rem;
    cursor: pointer;
}
.coin-info-heading{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.coin-info-desc a{
    text-decoration: underline !;
}
.coin-info-desc a:hover{
    color:var(--blue) !important;
}